<div class="bg-light p-2 text-dark bg-opacity-75" >
<h1>Editando Publicación</h1>

<%= render "form", kppost: @kppost %>

<br>

<div>
  <%= link_to "Ver Imagen", @kppost %> |
  <%= link_to "Volver a Imagenes", kpposts_path %>
</div>
</div>