body {
    background-color: black;
}

.tcolor {
    color: white;
}

div {
    border-radius: 5%;
   }

.kp {
    font-family: 'Lobster', cursive;
    font-size: 160%;
}

.ttcolor {
    color: black;
}

.avatar {
    width: 4%;
}

.avatarr {
    width: 7%;
}

.ff {
    display: flex;
    justify-content: center;
}

.perfil {
    width: 40%;
}

.pff {
    width: 100%;
    text-align: end;
    background-color: transparent;
}

.photo {
    width: 70%;
    border-radius: 3%;
}

.desc {
    font-size: 105%;
}

.fondo {
    background-image: url(montaña1.jpg);
}

.blue {
    color: black;
    font-weight: bold;
}