body {
    background-color: black;
}

.tcolor {
    color: white;
}

div {
    border-radius: 5%;
   }

.kp {
    font-family: 'Lobster', cursive;
    font-size: 160%;
}

.ttcolor {
    color: black;
}

.avatar {
    width: 4%;
}

.avatarr {
    width: 7%;
}

.ff {
    display: flex;
    justify-content: center;
}

.perfil {
    width: 40%;
}